<h1>{{name}}</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <table class="table table-hover">
      <tr>
        <th>Rank</th>
        <th>Player</th>
        <th>Points</th>
      </tr>
      {{#each league.players}}
        <tr>
          <!-- <td>{{{add @index 1}}}</td> -->
          <td>{{this.rank}}</td>
          <td>{{this.name}}</td>
          <td>{{this.points}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-3 col-md-offset-4">
    <h3>Add a Player</h3>
    <form method="POST" class="form-horizontal" action= {{{slugPath league.slug}}}>
      <div class="form-group">
        <div class="col-md-12">
          <input type="text" name="player" class="form-control" placeholder="Summoner Name">
        </div>
      </div>
      <button class="btn btn-default" type="submit">Add Player!</button>
    </form>

    <!-- Error message -->
    {{#if errors}}
    <ul>
    {{#each errors}}
        <li><div class="error">{{this.msg}}</div></li>
    {{/each}}
    </ul>
    {{/if}}

  </div>
</div>

<!-- Shows champion images of past 5 games for each player -->
<!-- <div>
  <ul>
  {{#each this.recentGames as |match|}}
\    <li><img src= {{{imagePath match.playerStats.championImage}}} class="champion-icon"alt="champion icon"></li>
  {{/each}}
</ul>
</div> -->
